:root {
  /* TEXT */
  --fw-md: 600;
  --fw-bold: 700;

  /* COLOR */
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose50: hsl(20, 50%, 98%);
  --rose100: hsl(13, 31%, 94%);
  --rose300: hsl(14, 25%, 72%);
  --rose400: hsl(7, 20%, 60%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);
}

body {
  font-family: 'Red Hat Text', serif;
  font-size: 16px;
  font-weight: 400;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;

  background-color: var(--rose50);
}

.container-fluid {
  /* height: 100%; */
}

.items__container {
  /* border: 1px solid magenta; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}

.container {
  /* border: 1px solid aqua; */
}

header.logo h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--rose900);
}

.item__card-img {
  background: url('/assets/images/image-waffle-desktop.jpg');
  height: 240px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
}

.container.cart {
  /* border: 1px solid red; */
}
